* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    height: 90vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .select-box{
    background-color: #EC6E4C;
    
    height: 6%;
    width: 80%;
    margin-bottom: 10px;
    padding: .5rem;  
    z-index: 9;
  }

#cities{
  
  padding: .5rem;
}
.days{
  width: 80%;
  display: flex;
  justify-content: space-between;
  
  flex-wrap: wrap;

}


.day{
  display: flex;
  width: 8%;
  text-align: center;
  margin-left: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-bottom: 2rem;
  
}

.day:first-child{
  border: 1px solid gray;
  opacity: .8;
  border-radius: 1.2em;
  
 }
 
 .day-img:hover{

  transform: scale(1.5);
  transition: transform 3s;
  
  
}
.day-title{
  border-bottom: 1px solid black;
}
.day-img {
  width: 5rem;
  height: 5rem;
}
.day-title:hover{
  transform: rotate(360deg);
  transition: transform 3s;
}

@media only screen and (max-width: 600px) {
  .day {
    width: 40%;
  }
  .days{
    
justify-content: space-around;
  }
}
@media only screen and (max-width: 792px) {
  .day {
    width: 35%;
  }
}