/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
button{
  width: 20vw;
  height: 10vh;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color: #000;
  color: white;
}
.primary {
  
  background: transparent;
  border: 1px solid #91C9FF;
  background-color: #91C9FF;
  color:#000;

} 

.dashed {
  
  background: transparent;
  border: 1px dashed #4fda5b;
  outline: none;
} 
 
.link {
  text-decoration: underline;
  
  background: transparent;
  border: 1px  #da4f4f;
  outline: none;
  background: #da4f4f;
} 
 

.secondary {
  background-color: gray;
  border: 1px solid #bb022a;
  outline: none;
}