
.hd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
h1{
    opacity: .8;
    font-size: 50px;
}
img{
    width: 2rem;
    height: 2rem;
    padding: 0 1rem;
}